.list {
	width: 250px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
}

.add-input {
	margin-right: 10px;
	margin-left: -20px;
}

.card {
	width: 200px;
	padding: 10px;
	margin: 10px;
	display: block;
}

.card-content {
	text-align: left;
}